{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="title is-1">{{ title }}</h1>
<hr>
{% if not damages %}
<p>{{ gettext("There is no damage for the moment") }}</p>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">{{ gettext("Identifier") }}</th>
            <th scope="col">{{ gettext("Description") }}</th>
            <th scope="col">{{ gettext("Location") }}</th>
            <th scope="col">{{ gettext("Date") }}</th>
            <th scope="col">{{ gettext("Author") }}</th>
            <th scope="col">{{ gettext("State") }}</th>
            <th scope="col">{{ gettext("Actions") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for damage in damages %}
        <tr>
            <th scope="row">{{ damage.id }}</th>
            <td>{{ damage.description }}</td>
            <td>({{ damage.latitude }}, {{ damage.longitude }})</td>
            <td>{{ damage.date.strftime('%d/%m/%Y') }}</td>
            <td>{{ damage.insured.name }}</td>
            <td>{{ damage.state }}</td>
            <td class="buttons">
                <a href="{{ url_for('main.damage.single', damage_id=damage.id) }}" class="button is-link" title="{{ gettext('View this damage') }}">
                    <span class="icon">
                        <i class="fas fa-eye"></i>
                    </span>
                </a>
                <a href="{{ url_for('main.damage.edit', damage_id=damage.id) }}" class="button is-primary" title="{{ gettext('Edit this damage') }}">
                    <span class="icon">
                        <i class="fas fa-pen"></i>
                    </span>
                </a>
                {% if current_user.is_admin() %}
                <a href="{{ url_for('main.damage.delete', damage_id=damage.id) }}" class="button is-danger" title="{{ gettext('Delete this damage') }}">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">{{ gettext("Identifier") }}</th>
            <th scope="col">{{ gettext("Description") }}</th>
            <th scope="col">{{ gettext("Location") }}</th>
            <th scope="col">{{ gettext("Date") }}</th>
            <th scope="col">{{ gettext("Author") }}</th>
            <th scope="col">{{ gettext("State") }}</th>
            <th scope="col">{{ gettext("Actions") }}</th>
        </tr>
    </tfoot>
</table>

{% endif %}

{% endblock %}