{% extends "layout.html" %}
{% block title %}Create new damage{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div style="color: red;">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h1 class="title is-1">Create new damage</h1>
<hr>
<form method="post" action="{{ url_for('main.damage.new') }}">
    <div class="field">
        <label class="label" for="description">Description of the damage</label>
        <div class="control">
            <textarea class="textarea" name="description" placeholder="Your description here..."></textarea>
        </div>
    </div>
    <button class="button is-primary" type="submit">Send new damage</button>
</form>

{% endblock %}