{% extends "layout.html" %}
{% block title %}{{ gettext('Hello world!') }}{% endblock %}

{% block content %}
<section class="hero is-medium is-link">
    <div class="hero-body">
        <h1 class="title">{{ gettext('Hello world!') }}</h1>
        <p class="subtitle">{{ gettext('Welcome to your insurance company') }}</p>
    </div>
</section>
<section class="section">
    <div class="content">
        <h2 class="title">About our company</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor feugiat magna, at condimentum ex vestibulum sit amet. Aliquam ullamcorper scelerisque justo, at rhoncus nulla condimentum vel. Suspendisse pharetra nisl non urna suscipit molestie. Vestibulum at ipsum dolor. In vitae metus dignissim, aliquet orci et, faucibus elit. Nunc a elit lacus. Nullam elit ex, mollis sed ipsum a, ultricies vulputate est. Nunc mi nulla, ultrices quis ipsum a, consectetur fermentum turpis. Proin at condimentum eros. Ut sed consectetur erat. Fusce posuere et eros vitae iaculis. Nam accumsan ligula odio, in faucibus orci egestas id. Curabitur semper consectetur mi, non hendrerit elit sagittis a. Pellentesque eu purus a nisi varius tincidunt. </p>
    </div>
    <div class="content">
        <h2 class="title">Contact</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor feugiat magna, at condimentum ex vestibulum sit amet. Aliquam ullamcorper scelerisque justo, at rhoncus nulla condimentum vel. Suspendisse pharetra nisl non urna suscipit molestie. Vestibulum at ipsum dolor. In vitae metus dignissim, aliquet orci et, faucibus elit. Nunc a elit lacus. Nullam elit ex, mollis sed ipsum a, ultricies vulputate est. Nunc mi nulla, ultrices quis ipsum a, consectetur fermentum turpis. Proin at condimentum eros. Ut sed consectetur erat. Fusce posuere et eros vitae iaculis. Nam accumsan ligula odio, in faucibus orci egestas id. Curabitur semper consectetur mi, non hendrerit elit sagittis a. Pellentesque eu purus a nisi varius tincidunt. </p>
    </div>
</section>
{% endblock %}