{% extends "layout.html" %}
{% block title %}Document #{{ document.id }}{% endblock %}

{% block content %}

<h1 class="title is-1">{{ gettext('Document #{}').format(document.id) }}</h1>
<hr>
<div class="grid">

    <div class="cell">
        <div class="field">
            <label class="label">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-pen"></i></span>
                    <span>{{ gettext('Description') }}</span>
                </span>
            </label>
            <p>{{ document.description }}</p>
        </div>
        <div class="field">
            <label class="label">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-check-square"></i></span>
                    <span>{{ gettext('State') }}</span>
                </span>
            </label>
            <p>{{ document.state }}</p>
        </div>
        <div class="field">
            <label class="label">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-calendar"></i></span>
                    <span>{{ gettext('Date') }}</span>
                </span>
            </label>
            <p>{{ document.date }}</p>
        </div>
        <div class="field">
            <label class="label">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span>{{ gettext('Associated damage') }}</span>
                </span>
            </label>
            <a href="{{ url_for("main.damage.single", damage_id=document.damage.id) }}">{{ document.damage.id }} ({{ document.damage.date}})</a>
        </div>
    </div>

    <div class="cell">
        {% if current_user.is_authenticated %}
        <div class="buttons">
            <a href="" class="button is-primary" title="{{ gettext('Edit the document') }}">
                <span class="icon">
                    <i class="fas fa-pen"></i>
                </span>
                <span>{{ gettext('Edit the document') }}</span>
            </a>
            {% if current_user.is_admin() %}
            <a href="" class="button is-danger" title="{{ gettext('Delete the document') }}">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>{{ gettext('Delete the document') }}</span>
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}