{% extends "layout.html" %}
{% block title %}{{ gettext('Document #{}').format(document.id) }}{% endblock %}

{% block content %}
<section class="section">
    <div class="content">
        <h1 class="title is-1">{{ gettext('Document #{}').format(document.id) }}</h1>
        <hr>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">
                        <span class="icon-text">
                            <span class="icon"><i class="fas fa-pen"></i></span>
                            <span>{{ gettext('Description') }}</span>
                        </span>
                    </label>
                    <p>{{ document.description }}</p>
                </div>
                <div class="field">
                    <label class="label">
                        <span class="icon-text">
                            <span class="icon"><i class="fas fa-check-square"></i></span>
                            <span>{{ gettext('State') }}</span>
                        </span>
                    </label>
                    <p>{{ document.state }}</p>
                </div>
                <div class="field">
                    <label class="label">
                        <span class="icon-text">
                            <span class="icon"><i class="fas fa-calendar"></i></span>
                            <span>{{ gettext('Date') }}</span>
                        </span>
                    </label>
                    <p>{{ document.date }}</p>
                </div>
                <div class="field">
                    <label class="label">
                        {{ gettext('Associated damage') }}
                    </label>
                    {% with damage=document.damage %}
                        {% include 'damage/preview.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="column">
                {% if current_user.is_authenticated %}
                <div class="buttons">
                    <a href="{{ url_for('main.document.edit', document_id=document.id) }}" class="button is-primary" title="{{ gettext('Edit the document') }}">
                        <span class="icon">
                            <i class="fas fa-pen"></i>
                        </span>
                        <span>{{ gettext('Edit the document') }}</span>
                    </a>
                    {% if current_user.is_admin() %}
                    <a href="{{ url_for('main.document.delete', document_id=document.id) }}" class="button is-danger" title="{{ gettext('Delete the document') }}">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>{{ gettext('Delete the document') }}</span>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}