{% extends "layout.html" %}
{% block title %}Signup{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div style="color: red;">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h1>Create an account</h1>

<form method="post" action="{{ url_for('main.user.signup') }}">
    <label for="name">
        Your name
        <input type="text" name="name" id="" placeholder="Your firstname here">
    </label><br>
    <label for="email">
        Your email
        <input type="email" name="email" id="" placeholder="Your email address here">
    </label><br>
    <label for="password">
        Your password
        <input type="password" name="password" id="" placeholder="Your password here">
    </label><br>
    <button type="submit">Submit</button>
</form>

{% endblock %}